div 
    label(for="firstname") Firstname
    input#firstname(type="text", name="firstname", placeholder="Max", required, value=values.firstname.value)

div 
    label(for="lastname") Lastname
    input#lastname(type="text", name="lastname", placeholder="Mustermann", required, value=values.lastname.value)


div 
    label(for="birthday") Birthday
    input#birthday(type="date", name="birthday", required, value=values.birthday.value)

div 
    button Submit 