<nav>
    <ul>
        <li>
            <a href="<%= url("home:index") %>">Home</a>
        </li>
        <li>
            <a href="<%= url("home:hello") %>">Hello</a>
        </li>
        <li>
            <a href="<%= url("home:greeting", "Ute") %>">Greeting</a>
        </li>
        <li>
            <a href="<%= url("people:index") %>">People</a>
        </li>
    </ul>
</nav>