nav
    ul
        li
            a(href=url('home:index')) Home
        li
            a(href=url('home:hello')) Hello
        li
            a(href=url('home:greeting', {name: 'Ute'})) Greeting
        li
            a(href=url('people:index')) People
