nav
    ul
        li
            a(href=path('home:index')) Home
        li
            a(href=path('home:hello')) Hello
        li
            a(href=path('home:greeting', {name: 'Ute'})) Greeting
        li
            a(href=path('people:index')) People
