extends ../layouts/base.pug

block content 
    div 
        form(method="POST", action=path("person:create:post"))
            div 
                label(for="firstname") Firstname
                input#firstname(type="text", name="firstname", placeholder="Max", required, value=values.firstname)

            div 
                label(for="lastname") Lastname
                input#lastname(type="text", name="lastname", placeholder="Mustermann", required, value=values.lastname)

            
            div 
                label(for="birthday") Birthday
                input#birthday(type="date", name="birthday", required, value=values.birthday)

            div 
                button Create
            