extends ../layouts/base.pug

block content 
    h1 #{title}
    div 
        a(href=url("person:create")) Create person
    ul 
        each person in people 
            li 
                a(href=url("person:detail", {id: person.id})) #{person.firstname} 





