extends ../layouts/base.pug

block content 
    h1 Update #{title}
    div 
        form(method="POST", action=path("person:update:post", {id: person.id}))
            include partials/_form.pug
    
    br
    div 
        a(href=referrer) Back